.pictures {
  width: 30vw;
}
.character-name {
  font-size: 16px;
  margin: 8px, 0, 8px, 8px;
  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.character-specie {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
.link-card{
  text-decoration: none;
  color:black;
  font-family: 'Stick No Bills'
  ;
}
