.card-list{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;

}

.card{
    width: 40vw;
    margin: 10px, 10px,10px, 10px;
    border: 2px solid rgb(171, 204, 204);
    
} 