body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient( to right, #8AC957, #59B1C7);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0;
    padding: 0;
  }